.header {
    display: flex;
    margin-top: 1%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.header .left {
    flex: 1;
}

.header .right {
    text-align: right
    flex: 1;
}

.nav-menu {
    float: right;
    width: 20%;
    margin-right: 2.5%;
    text-align: right;
}

.nav-menu a {
    display: block;
}

.social-links a {
    display: inline;
}

.tweet-container {
    width: 40%;
    margin-left: 2.5%;
    padding: 1%;
}

.footer {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    
}

.footer a {
    display: block;
}

.footer p {
    font-size: 75%;
}

.profile {
    float: right;
    margin-right: 2.5%;
    width: 15%;
    border-radius: 50%;
    border: 2px solid;
    border-color: #e6f2ff;
}

.content {
    margin: 2.5%;
    width: 100%%;
}

.content div {
    padding-bottom: 2.5%;   
}

.content p {
    padding-top: 1%;
}

.footer {
    margin-top: 15%;    
}

.footer img {
    width: 6%;
    padding: 1%;
}

.gameimg {
    width: 100%; 
    margin-bottom: 1%;
    margin-top: 1%;
    border-radius: 10%;
    border: 2px solid;
    border-color: #e6f2ff;
}

.experience {
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .experience iframe {
        display: none;
    }
    .experience {
        width: 100%;
    }
    .footer img {
        width: 10%;
        padding: 1%;
    }
    .tweet-container {
        width:100%;
    }
    .experience img {
        margin-bottom: 2.5%; 
        margin-top: 2.5%;
    }
    .content {
        margin-top: %25;
    }
    .footer {
        margin-top: 15%
    }
}